:root {
  --slate-300: #D5E1EF;
  --slate-500: #68778D;
  --slate-900: #1F314F;
  --card-radius: 20px;
}

body {
  margin:0;
  padding:0;
  background: var(--slate-300);
  font-family: Outfit;
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items:center;
}

.card {
  background: #fff;
  height: 500px;
  width: 320px;
  border-radius: var(--card-radius);

  > img {
    margin: 15px;
    width: 290px;
    height: 290px;
    border-radius: calc(var(--card-radius) / 2);
  }
  
  > header, > p {
    text-align: center;
    margin: 14px 36px;
  }

  > header {
    font-weight: 700;
    font-size: 21px;
    color: var(--slate-900);
  }
  > p {
    font-weight: 200;
    color: var(--slate-500);
  }
}
