:root {
  --slate-300: #D5E1EF;
  --slate-500: #68778D;
  --slate-900: #1F314F;
  --card-color: #FFF;
  --card-radius: 20px;
  --font-bold: 700;
  --font-regular: 300;
}

body {
  margin:0;
  padding:0;
  background: var(--slate-300);
  font-family: Outfit, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items:center;
}

.card {
  background: var(--card-color);
  height: 500px;
  width: 320px;
  border-radius: var(--card-radius);

  display:flex;
  flex-direction:column;
  align-items:center;

  img.qr-code {
    margin: 15px;
    width: 290px;
    height: 290px;
    border-radius: calc(var(--card-radius) / 2);
  }

  h1, p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 14px;
  }

  h1 {
    font-weight: var(--font-bold);
    font-size: 22px;
    color: var(--slate-900);
  }
  p {
    font-weight: var(--font-regular);
    color: var(--slate-500);
  }

  .instructions {
    width: 264px;
  }
}
